In [87]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import seaborn as sns

In [88]:
dataECS=pd.read_csv('ECS.csv')

In [89]:
dataECS = dataECS.drop('Unnamed: 69',axis=1)

In [90]:
dataECS = dataECS.drop('Unnamed: 0',axis=1)

In [91]:
dataCountries=pd.read_csv('ECSCountries.csv')

In [92]:
ecsGDP = dataECS[dataECS['Indicator Name']=='GDP per capita (current US$)']

In [93]:
ecsGNI = dataECS[dataECS['Indicator Name']=='GNI per capita, Atlas method (current US$)']

In [94]:
ecsGDP

,Country Name,Country Code,Indicator Name,Indicator Code,1976,1977,1978,1979,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
81,Europe & Central Asia,ECS,GDP per capita (current US$),NY.GDP.PCAP.CD,3070.760736,3456.521651,4190.853585,5093.121487,5729.824388,5066.177868,...,19191.592037,20709.685651,24108.847782,26352.539224,23084.226956,23536.905927,26015.889,24970.975153,25976.554634,26192.934765

In [95]:
ecsGNI

,Country Name,Country Code,Indicator Name,Indicator Code,1976,1977,1978,1979,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
87,Europe & Central Asia,ECS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,3258.366996,3475.301139,3927.785695,4856.262525,5812.964978,5842.754964,...,19210.646358,20813.907101,22565.301143,24535.092021,24248.80079,24465.162052,24919.629832,25201.808107,25886.446275,25883.591689

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,93.335213,93.054619,93.135818,93.235611,...,96.736832,96.832748,96.862984,97.130112,96.980888,97.274719,97.329178,97.249649,97.306252,97.022087
1,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, female (%)",SE.PRM.TENR.FE,NaN,NaN,NaN,92.448036,92.436836,92.523933,...,96.472656,96.606277,96.733353,96.974167,96.907043,97.232780,97.306313,97.251869,97.291008,97.032494
2,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, gender p...",UIS.NERA.1.GPI,NaN,NaN,NaN,0.987300,0.985390,0.985150,...,0.994680,0.995440,0.997390,0.996870,0.998520,0.999160,0.999540,1.000040,0.999690,1.000210
3,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, male (%)",SE.PRM.TENR.MA,NaN,NaN,NaN,93.637047,93.806908,93.918907,...,96.988518,97.048492,96.986389,97.278526,97.051140,97.314613,97.350899,97.247551,97.320717,97.012207
4,Europe & Central Asia,ECS,Adjusted net intake rate to Grade 1 of primary...,UIS.NIRA.1,NaN,NaN,NaN,90.177696,90.357117,90.433632,...,91.766197,91.936134,92.683723,92.032272,91.449738,92.639778,93.185226,93.455544,93.420059,89.440102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,Europe & Central Asia,ECS,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000
360,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449
361,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834
362,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
363,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554